

body{ 
  margin: 0;
  /* background-color: green; */
  height: 100%;
  margin: 0;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2P48ad_W-OYRUe7X_IIEsYtLIqSfVvUKLrZdB4Sm4lg&s);

  /* background: linear-gradient(90deg,rgb(58, 57, 57) 0%,rgb(29, 29, 29) 40%,rgb(0, 0, 0) 80%); */
}

.main-screen{
  margin: auto auto;
  max-width: 50%;
  /* background: #000; */
}

.main{
  /* background-color: #000; */
  /* height: 1000px; */
}





 .fade {
  position: fixed;
  z-index: -1;
  /* position: absolute; */
  top:0px;
  width: 100%;
  height: 100%;
  /* background-color: blue; */

  
  background: linear-gradient(45deg,transparent,
  rgba(89, 89, 89, 0.5) 0%,
  rgb(25,25,25,0.5) 30%,
  rgb(0,0,0,0.7) 50%,
  rgba(39, 37, 37, 0.7) 100%)


  /* background: linear-gradient(45deg,transparent,
  rgba(239, 136, 136, 0.5) 0%,
  rgba(225, 86, 86, 0.5) 40%,
  rgba(212, 41, 41, 0.7) 50%,
  rgba(238, 7, 7, 0.7) 100%) */
 
}  


.fade1 {
  z-index: -1;
  /* position: absolute; */
  position:fixed;
  top:0px;
  width: 100%;
  height: 100%;
  /* background-color: blue; */

  
  /* background: linear-gradient(135deg,transparent,
  rgba(174, 6, 6, 0.5) 0%,
  rgba(170, 48, 48, 0) 30%,
  rgba(112, 21, 21, 0) 50%,
  rgba(165, 27, 27, 0.7) 100%) */

  /* background: linear-gradient(135deg,transparent,
  rgba(4, 4, 86, 0.5) 0%,
  rgba(17, 8, 121, 0) 40%,
  rgba(94, 19, 19, 0) 55%,
  rgba(165, 27, 27, 0.7) 100%) */


  background: linear-gradient(135deg,transparent,
  rgba(4, 4, 86, 0.5) 0%,
  rgba(17, 8, 121, 0) 40%,
  rgba(94, 19, 19, 0) 55%,
  rgba(97, 17, 17, 0.7) 100%)
 
}  

.main-screen>h1{
  color: rgb(174, 175, 205);
  /* font-family: "Workbench"; */
  /* font-family: "Rubik Glitch Pop"; */
  font-family: "Single Day";
  margin: 30px auto auto;
  text-align: center;
  font-size:2.5rem;
}


.todo-list{
  margin-top: 10%;
}

.todo-list-element{
  /* border-color: aliceblue; */
  /* border-width: 10px; */
  font-family: "Single Day";
  /* margin-top: -40px; */
  color: wheat;
  display: grid;
  grid-template-columns: 5% 20% 80%;
  grid-gap: 10px;
  border: 2px solid aliceblue;
  /* justify-content: space-between; */
}

.todo-list-element-item{
  /* border: 2px solid white; White border for each item */
  padding: 0px; /* Padding inside each cell */
  /* background-color: #f0f0f0 */
}

/* ,rgb(149, 94, 94) 35% */

.empty-space{
  height: 100px;
}

/* body{
  height: 1000px;
} */
